<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="alicia_duo_descriptions">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import alicia_duo_descriptions urdf file -->
    <xacro:include filename="$(find alicia_duo_descriptions)/urdf/alicia_duo_with_gripper_original.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="alicia_duo_descriptions.ros2_control.xacro" />


    <xacro:alicia_duo_descriptions_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
